@import '../../static/libs/materialize-src/sass/materialize';
@import 'variables';

* {
  overflow: hidden;
  color: $font-color;
}

header {
  min-height: 100vh;
  background-image: url("../../static/assets/background.jpeg");
  background-position: center;
  background-size: cover;
  nav {
    background-color: transparent;
    padding: 10px;
  }
}

section.info {

  .btn {
    border-radius: 90px;
    margin: 20vh;
    width: 300px;
    min-height: 70px;
  }
}



//h2 {
//  color: $teal("lighten-3");
//}
//
//.menu {
//  font-size: 3rem;
//}

/* events section */
section.events {
  background-color: $bc-navy;
  height: 35vh;
  .events-item {
    min-height: 90%;
    img {
      object-fit: cover;
      height: inherit;
    }
  }
}