@import "reset";

body {
  background-color: #0B3954;
}

html {
  font-size: 100%;
}

.rules {
  border-top: solid 3px #50e3c2;
  margin: 20px 15px 0;
  padding-top: 40px;
  padding-bottom: 20px;

  // &__container {
  //   width: 90%;
  // }

  &__title {
    color: #fff;
    text-align: center;
    padding-bottom: 30px;

    span {
      border-bottom: 2px solid #50e3c2;
      padding: 0 1px 3px;
    }
  }

  &__grid {
    padding: 0 !important;
    display: flex;
    justify-content: center;
  }

  &__box {
    width: 90%;
    background-color: #0567a0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  &__icon {
    font-size: 50px !important;
  }

  &__text {
    display: none;
  }
}

.success {
  border-top: solid 3px #50e3c2;
  margin: 20px 15px 0;
  padding-top: 40px;

  &__title {
    color: #fff;
    text-align: center;
    padding-bottom: 30px;

    span {
      border-bottom: 2px solid #50e3c2;
      padding: 0 1px 3px;
    }

    &--desktop{
      display: none;
      color: #50e3c2;
    }
  }

  &__text {
    color: #fff;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
  }

  &__button {
    background-color: #50e3c2;
    border-radius: 90px;
    width: 70%;
    height: 45px;
    line-height: 45px;
    font-weight: bolder;
  }
}

.slider-suc {
  background-color: #0567a0;

  &__title {
    padding: 25px 0;
    color: #fff;
  }
}

.success-desktop {
  min-height: 300px;
  background-color: #0567a0;
  border-bottom: 2px solid #fff;

  &__item {
    padding: 1px !important;
      padding-bottom: 0px !important;
    border-right: 2px solid #fff;

    &--last {
      border-right: none;
    }
  }

  &__title {
    padding: 20px 10px;
    color: #fff;
    border-bottom: 1px solid #fff;
    min-height: 80px;
    font-size: 13px;
    text-align: center;
    line-height: 140%;
  }

  &__image {
    width: 100%;
  }
}
/*.s*/
// $phone: "only screen and (max-width : 600px)";
$tablet: "only screen and (min-width : 601px)"; /* .m --> > 600px */
$desktop: "only screen and (min-width : 993px)"; /* .l --> > 992px */
$large: "only screen and (min-width : 1201px)";
/* .xl --> > 1200px */
@media #{$tablet} {
  .rules {
    border-top: solid 3px #50e3c2;
    margin: 20px 15px 0;
    padding-top: 40px;
    padding-bottom: 20px;

    &__container {
      width: 100% !important;
    }

    &__title {
      display: none;

    }

    &__grid {}

    &__box {
      width: 100%;
      height: 290px;
      background-color: #0567a0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 20px;

      &--right {
        margin-right: 5px;
      }
    }

    &__icon {
      font-size: 50px !important;
      padding-bottom: 20px;
    }

    &__text {
      display: inline;
      font-size: 12px;
      line-height: 140%;
      text-align: center;
    }
  }

  .success{
    border-bottom: solid 3px #50e3c2;

    &__title{
      display: none;
      &--desktop{
        display: block;
        color: #50e3c2;
        padding-bottom: 30px;
      }
    }
    &__button{
      margin-bottom: 30px;
    }
    &__row{
      &--desktop{
        margin-bottom: 5px !important;
      }
    }
  }
}

@media #{$desktop} {
  .rules {
    &__icon {
      font-size: 60px !important;
      padding-bottom: 30px;
    }
  }
}
@media #{$large} {
  .rules {
    &__box {
      height: 250px;
    }

    &__text {
      font-size: 15px;
    }
  }
}
